.App {
  text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
#title {

  font-family:Verdana, Geneva, Tahoma, sans-serif!important;
  margin-top: -1%;
  font-size: 30px;
  /* make title bolder */
  font-weight: 600;
  color: #3b4bf6;
}

.btn:hover {
  background-color: #6672f5;
  color: #fff;
}

.navbar {
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  padding: 10px 0;
  position: relative;
  z-index: 1030;
}

/*make logo smaller*/
.logo {
  padding: 0px 15px;
  height: 15%;
  width: 15%;
}
.btn{
  border-radius: 50px!important;
  margin:10px;
}
header {
  position: relative;
}
#top-right {
  position: absolute;
  top: 0px;
  right: 0px;
}
body {
 
  color: #000000;
  font-family: 'Josefin Sans', sans-serif !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


body {
  height: 100% !important;
}

.wrapper {
  min-height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
}

.content {


  /* Set margin-bottom to equal the height of the footer */
   margin-bottom:40px !important; 
   
 
}

.footer {
   position:sticky !important;
   bottom :0 !important;  
   width :100% !important;
   height :70px !important; 
   padding-bottom: 90px;
   background-color: transparent !important;
}

.sign-out {
  font-family: 'Poppins';
  font-style: regular;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  color: rgba(0, 51, 161, 0.8);
}

.title {
  margin-top: 50px;
  margin-bottom: -10px;}
  


.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
.item {
    flex-basis: 100px;
    height: 33.3%;
    margin: 3%;
    min-width: 200px;

  }

  .login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.App {
    text-align: center;
 }
  
 .registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
  
 .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 input {
    width: 250px;
    height: 40px;
 }
  
 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
         
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f0f2f5;
  color: #1c1e21;
}

main {
  height: 90vh;
  width: 100vw;
  position: relative;
  margin: 0 auto;
}

footer {
  height: 10vh;
  background-color: #ffffff;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.colm-logo {
  flex: 0 0 50%;
  text-align: left;
}

.colm-form {
  flex: 0 0 40%;
  text-align: center;
}

.colm-logo img {
  max-width: 400px;
}

.colm-logo h2 {
  font: 26px;
  font-weight: 400;
  padding: 0 30px;
  line-height: 32px;
}

.colm-form .form-container {
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  padding: 20px;
  max-width: 400px;
}

.colm-form .form-container input, .colm-form .form-container .btn-login {
  width: 100%;
  margin: 5px 0;
  height: 45px;
  vertical-align: middle;
  font-size: 16px;
}

.colm-form .form-container input {
  border: 1px solid #dddfe2;
  color: #1d2129;
  padding: 0 8px;
  outline: none;
}

.colm-form .form-container input:focus {
  border-color: #1877f2;
  box-shadow: 0 0 0 2px #e7f3ff;
}

.colm-form .form-container .btn-login {
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  padding: 0 16px;
  color: #ffffff;
  font-weight: 700;
}

.colm-form .form-container a {
  display: block;
  color: #1877f2;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 0 20px;
}

.colm-form .form-container a:hover {
  text-decoration: underline;
}

.colm-form .form-container .btn-new {
  border: none;
  border-radius: 6px;
  font-size: 17px;
  line-height: 48px;
  padding: 0 16px;
  color: #ffffff;
  font-weight: 700;
  margin-top: 20px; 
}

.colm-form p {
  font-size: 14px;
}

.colm-form p a {
  text-decoration: none;
  color: #1c1e21;
  font-weight: 600;
}

.colm-form p a:hover {
  text-decoration: underline;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.2rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 40px;
  width: 100%;
  height: 2.3rem;            /* Footer height */
}


/*flush the text left and make it blue*/
.smaller-title {
  Margin-top: 0%;
  Margin-bottom: 2%;
  margin-left: 1%;
  font-weight: 200%;
  font-size: 40px;
  /*pick a font family that for small headings*/
  font-family:Verdana, sans-serif !important;
  color: #e3374e;
}