#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.2rem;    /* Footer height */
  }
  
  #footer {
    position: absolute;
    bottom: 40px;
    width: 100%;
    height: 2.3rem;            /* Footer height */
  }

 
  /*flush the text left and make it blue*/
  .smaller-title {
    Margin-top: 0%;
    Margin-bottom: 2%;
    margin-left: 1%;
    font-weight: 200%;
    font-size: 40px;
    /*pick a font family that for small headings*/
    font-family:Verdana, sans-serif !important;
    color: #e3374e;
  }