

.course-card .card-body {

}

.course-card .card-body {
    border: none;
    border-color: transparent !important;

    width: 100%;
    background-color: #ffffff;
    color: rgb(58, 56, 56);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

tr th{
    color: #ffffff !important;

}
/* make the table rows modern*/
.table {
    border: none;
    width: 100%;
    background-color: #ffffff;
    color: rgb(58, 56, 56);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.course-card .card-body:hover {
    background-color: #6672f5;
    color: #fff;
}


.course-card .card-body:hover {
    background-color: #6672f5;
    color: #fff;
    border-color: transparent !important;
}
.course-card .card-body h5.card-title {
    font-size: 50px;
    font-weight: bold;
   /* how do i push the text to the left of the card */
    margin-left: -80%; 
    margin-top: -10%;
 
}

.course-card .card-body p.card-text {
    font-size: 12px;
}

.course-card .card-body h5.card-title {
  
   
    font-size: 14px;
    font-weight: bold;
}

.course-card .card-body p.card-text {
    font-size: 12px;
}

.c-details span { 
    font-weight: 300;
    font-size: 13px
}

.icon {     
    width: 50px;
    height: 50px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

.badge span { 
    background-color: #fffbec;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    display: flex;
    color: #fed85d;
    justify-content: center;
    align-items: center
}


.text1 {
    font-size: 14px;
    font-weight: 600
}

.text2 {
    color: #a5aec0
}
#plus{
    min-width: 200px;
}

th{
    background-color: rgb(89, 130, 243) !important;
}

