body {
    background-color: #eee
}

.course-card {
    border: none;
    width: 40%;
}

.c-details span { 
    font-weight: 300;
    font-size: 13px
}

.icon {     
    width: 50px;
    height: 50px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

.badge span { 
    background-color: #fffbec;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    display: flex;
    color: #fed85d;
    justify-content: center;
    align-items: center
}


.text1 {
    font-size: 14px;
    font-weight: 600
}

.text2 {
    color: #a5aec0
}
#plus{
    min-width: 200px;
}

th{
    background-color: rgb(89, 130, 243) !important;
}

